<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>desAndAes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>325F4FA61DAB81FB008B1CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>325F4FBF1DAB81FB008B1CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>325F4FCA1DAB81FB008B1CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
